<mat-toolbar fxLayout>
	<a routerLink="">Html Testing Tool</a>
	<div fxLayout="row" fxFlex fxLayoutAlign="end" fxLayoutGap="20px">
		<a mat-raised-button color="primary" routerLink="/login">Login</a>
		<a mat-raised-button color="secondary" routerLink="/sign-up">Sign up</a>
	</div>
</mat-toolbar>
