<form fxLayout fxLayoutAlign="center center" fxFlex="100%">
	<mat-card fxFlex="30%">
		<mat-card-title>Login</mat-card-title>
		<mat-card-content fxLayout="column">
			<mat-form-field>
				<input matInput placeholder="Enter your email" [formControl]="email" required>
				<mat-error *ngIf="email.valid">{{ getErrorMsg() }}</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Enter your password" 
					[type]="hide ? 'password' : 'text'" required>
				<mat-icon matSuffix (click)="hide = !hide">
					{{hide ? 'visibility_off' : 'visibility'}}
				</mat-icon>
			</mat-form-field>
		</mat-card-content>
		<button mat-raised-button color="primary"> Login </button>
	</mat-card>
</form>
