<mat-card>
	<mat-card-title>Test Window {{id}}</mat-card-title>
	<mat-card-content>
		<mat-form-field>
			<input matInput placeholder="Enter url" required>
		</mat-form-field>
	</mat-card-content>
	<app-tree-view></app-tree-view>
	<app-code-window></app-code-window>
</mat-card>
