<mat-card fxFlex="80%">
	<mat-card-content>
		<button mat-icon-button>
			<mat-icon class="mat-icon-rtl-mirror">
				{{ 'file_copy' }}
			</mat-icon>
		</button>
		<mat-tab-group>
			<mat-tab *ngFor="let codeWindow of codeWindows"
				label="{{ codeWindow.name }}">
				<p> {{ parseCode(codeWindow.code) }} </p>
			</mat-tab>
		</mat-tab-group>
	</mat-card-content>
</mat-card>
